.homepage {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  flex: 6 0 0;
  order: 2;
  height: 90vh;
  min-height: 90vh;
  overflow: scroll;
}

.content {
  font-family: 'Roboto';
  text-align: justify;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.search {
  display: flex;
  max-height: 20px;
}
